DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_SITE_URL="https://yourdomain.com"
ADMIN_SESSION_SECRET=""
SESSION_SECRET=""
ADMIN_PASSWORD=""
ADMIN_PASSWORD_HASH=""
NEXT_PUBLIC_GA_ID=""
NODE_ENV="production"
