# App
NODE_ENV=production
NEXT_PUBLIC_SITE_URL=https://yourdomain.com
NEXT_PUBLIC_ASSET_PREFIX=
NEXT_PUBLIC_GA_ID=
NEXT_DEPLOYMENT_ID=

# Database
DATABASE_URL=file:/var/www/app/data/prod.db

# Admin Auth
ADMIN_SESSION_SECRET=replace-with-random-32-character-string
